.navbar {
	position: sticky;
	z-index: 1030;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	background-color: var(--main-bg-color);
	color: white;
	font-weight: 600;
}

.navbar li {
	text-transform: uppercase;
	flex: 1 0;
}

.spacer {
	flex: 2;
}

a,
a:visited,
a:hover {
	text-decoration: none;
	color: aliceblue;
}
