<div class="contact-section">
	<h3 #contactFormTitle (click)="animate()">Contact Me</h3>
	<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
		<div class="form-group">
			<!-- <fa-icon [icon]="['far', 'user']"></fa-icon> -->
			<input type="text" name="name" [(ngModel)]="name" placeholder="Name" required />
		</div>
		<div class="form-group">
			<!-- <fa-icon [icon]="['far', 'file-alt']"></fa-icon> -->
			<input type="text" name="subject" [(ngModel)]="subject" placeholder="Subject" required />
		</div>

		<div class="form-group">
			<input type="email" name="email" [(ngModel)]="email" placeholder="E-mail" required />
			<!-- <fa-icon [icon]="['far', 'envelope']"></fa-icon> -->
		</div>

		<div class="form-group">
			<textarea name="message" [(ngModel)]="message" placeholder="Your Message" required></textarea>
		</div>

		<button mat-flat-button type="submit" [disabled]="!contactForm.form.valid">Send</button>
	</form>
</div>
