.navbar {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    list-style-type: none; /* Remove bullets */
  }

.navbar li {
    text-transform: uppercase;
    flex: 1 0;
}

.navbar li a:hover{
    text-transform:lowercase;
    flex: 1 0;
}

.spacer {
flex: 2;
}

a,
a:visited,
a:hover {
 text-decoration: none;
}