mat-chip {
	font-size: large;
	padding: 1em;
}
mat-chip fa-icon {
	margin-left: 15px;
	font-size: 1.25em;
}

.skills-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
}
