<div class="main-wrapper">
	<section class="skills-section flex-column-on-mobile">
		<app-skills></app-skills>
	</section>

	<section class="about-section flex-column-on-mobile" id="about" *ngIf="about !== null; else noExperience">
		<div class="card about-section-presentation">
			<div class="card-body">
				<h3 class="card-title section-title">About</h3>
				<p class="card-text">{{ about.presentation }}</p>
			</div>
		</div>

		<div class="card about-section-infos">
			<div class="card-body">
				<h3 class="card-title section-title">Basic Information</h3>
				<ul class="card-text list-unstyled">
					<li class="row" *ngFor="let info of about.infos | keyvalue">
						<div class="col-xl-6">
							<span class="info-field">{{ info.key }}:</span>
						</div>
						<div class="col-xl-6">{{ info.value }}</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="experience" class="experience-section shadow">
		<div *ngIf="experiences !== undefined; else noExperience">
			<h3 class="section-title">Work Experience</h3>

			<ng-container *ngFor="let experience of experiences">
				<div class="card mb-3">
					<div class="row g-0 m-0">
						<div class="col-md-3 text-white text-center card-label d-flex flex-column justify-content-center">
							<h5>{{ experience.company }}</h5>
							{{ experience.period }}
						</div>

						<div class="col-md-9">
							<div class="card-body">
								<h4 class="card-title">{{ experience.role }}</h4>
								<p class="card-text">
									{{ experience.content }}
								</p>
								<!-- <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p> -->
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
		<ng-template #noExperience>
			<p style="color: red">No experiences available.</p>
		</ng-template>
	</section>

	<section class="education-section shadow">
		<div *ngIf="educations !== undefined; else noEducation">
			<h3 class="section-title">Education</h3>

			<ng-container *ngFor="let education of educations">
				<div class="card mb-3">
					<div class="row g-0 m-0">
						<div class="col-md-3 text-white text-center card-label d-flex flex-column justify-content-center">
							<h5>{{ education.degree }}</h5>
							{{ education.period }}
						</div>

						<div class="col-md-9">
							<div class="card-body">
								<h4 class="card-title">{{ education.major }}</h4>
								<p class="card-text">
									<small class="text-muted">{{ education.institution }}</small>
								</p>

								<p class="card-text">
									{{ education.content }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>

		<ng-template #noEducation>
			<p style="color: red">No experiences available.</p>
		</ng-template>
	</section>
</div>
