.profile-summary {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  background: url("https://www.csmoesac.qc.ca/assets/medias/images/_1200x630_crop_center-center_none/programmeur_csmoesac.jpg");
  width: 100vw;
}

* {
  color: aliceblue;
}
