@import url('../main-common.css');

.skills-wrapper {
	font-size: 1.5em;
}

h1 {
	text-align: center;
}
mat-chip {
	font-size: large;
	padding: 1em;
	margin: 0 1em !important;
}
mat-chip fa-icon {
	font-size: 1.25em;
	margin-left: 0.5em;
}
