/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	background-color: rgb(239, 246, 255);
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
	--main-bg-color: #1976d2;
}

@media (min-width: 768px) {
	.mobile-only {
		display: none;
	}
}
